<div class="container py-4">
    <app-back-button navigateTo="/products/all" class="mb-4">Continue Shopping</app-back-button>

    <h1 class="fw-bold mb-3" style="font-size: 2rem;">
        Shopping Cart
    </h1>
    <app-tease-wishlist class="mb-4 d-block"></app-tease-wishlist>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="col-lg-8">
            <app-list-cart-items></app-list-cart-items>
        </div>
        <div>
            <app-summarise-order></app-summarise-order>
        </div>
    </div>

</div>


