 <div class="position-relative bg-white pointer rounded-4 overflow-hidden d-flex flex-column card hover-lift shadow-sm" style="height: 600px;">
    <img 
        [src]="product().imageUrl" 
        style="height: 40%;" 
        class="w-100 object-fit-cover rounded-top img-h" 
        [routerLink]="['/product',product().id]"
        [style.view-transition-name]="'product-image-' + product().id" 
        />
    <ng-content></ng-content>
    <div class="p-5 d-flex flex-column" [routerLink]="['/product',product().id]">
        <h3 class="fs-5 fw-semibold text-dark mb-2 lh-sm" style="height: 50px; overflow: hidden;">
            {{ product().name }}
        </h3>
        <p class="fs-6 text-secondary lh-lg" style="height: 100px; overflow: hidden;">{{product().description}}</p>

        <!-- add rating component -->
        <app-star-rating class="mb-3" [rating]="product().rating">
            ({{ product().reviewCount }})
        </app-star-rating>
        <div class="fs-6 fw-medium mb-2">
            {{ product().inStock ? 'In Stock' : 'Out of Stock' }}
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="fs-3 fw-bold text-dark">
                ${{ product().price }}
            </span>
            <button matButton="filled" class="d-flex align-items-center gap-2" (click)="$event.stopPropagation(); store.addToCart(product(), 1)">
                <mat-icon>shopping_cart</mat-icon>
                Add to Cart
            </button>
        </div>
    </div>
</div>